@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .pause {
    animation-play-state: paused;
  }

  body::-webkit-scrollbar,
  .scroll::-webkit-scrollbar {
    width: 12px;
    border-radius: 4px;
  }

  body::-webkit-scrollbar-thumb,
  .scroll::-webkit-scrollbar-thumb {
    background-color: #3b394e;
  }

  body::-webkit-scrollbar-track,
  .scroll::-webkit-scrollbar-track {
    background-color: #0b0a15;
  }

  @font-face {
    font-family: "GmarketSansBold";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "GmarketSansMedium";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "GmarketSansLight";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff")
      format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .font-GmarketSansBold {
    font-family: "GmarketSansBold";
  }

  .font-GmarketSansMedium {
    font-family: "GmarketSansMedium";
  }

  .font-GmarketSansLight {
    font-family: "GmarketSansLight";
  }

  .font-NanumSquareBold {
    font-family: "NanumSquareBold";
  }

  .font-NanumSquareMedium {
    font-family: "NanumSquareMedium";
  }

  .font-GmarketSansLight {
    font-family: "GmarketSansLight";
  }

  .text-shadow {
    text-shadow: 3px 0 10px #fff;
  }
  .text-shadow-md {
    text-shadow: 4px 4px 8px black;
  }
  .text-shadow-lg {
    text-shadow: 15px 15px 30px black;
  }
  .text-shadow-none {
    text-shadow: none;
  }

  .text-shadow-red {
    text-shadow: 0 0 15px #ff0000;
  }

  .text-shadow-purple {
    text-shadow: 4px 0 10px #a590f1;
  }

  .shadow-custom {
    box-shadow: inset 0 0 15px #ff0000, 0 0 15px #ff0000;
  }
}

html {
  scroll-behavior: smooth;
}
